.website__button-container {
    min-width: 260px;
    max-width: 358px;
    margin: 186px auto;
}

@media screen and (max-width: 420px) {
    .website__button-container {
        margin: 186px 30px;
    }
}