.website__password {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    width: 100%;
    border: none;
    padding: 0 0 13px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #CCCCCC;
    background-color: #000000;
    margin-bottom: 30px;
}