.profile__info-add {
    width: 150px;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background: transparent url("../../../images/plus.svg") no-repeat center;
    margin-top: 33px;
    margin-bottom: 33px;
    padding: 0;
    cursor: pointer;
    background-size: 22px 22px;
}

@media screen and (max-width: 960px) {
    .profile__info-add {
        width: 215px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 380px) {
    .profile__info-add {
        width: 100%;
        background-size: 16px 16px;
    }
}