.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    transition: visibility .5s, opacity 1s ease;
    visibility: hidden;
    opacity: 0;
}
